* {
   black: #282828;
   grey: #484848;
   white: #dfdfe0;
   red: #ee5396;
   green: #25be6a;
   yellow: #08bdba;
   blue: #78a9ff;
   magenta: #be95ff;
   cyan: #33b1ff;

   bright-grey: #686868;

   background: #161616;
   foreground: #f2f4f8;
}
