configuration {
	case-sensitive: false;
	cycle: true;
	filter: "";
	scroll-method: 0;
	hover-select: true;
	normalize-match: true;
	show-icons: true;
	icon-theme: "SE98";
	steal-focus: false;

	font: "Iosevka Nerd Font Mono 12";
	//font: "EnvyCodeR Nerd Font Mono 12";

	matching: "normal";
	tokenize: true;

	ssh-client: "ssh";
	ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";
	parse-hosts: true;
	parse-known-hosts: true;

	drun-categories: "";
	drun-match-fields: "name,generic,exec,categories,keywords";
	drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
	drun-show-actions: false;
	drun-url-launcher: "xdg-open";
	drun-use-desktop-cache: false;
	drun-reload-desktop-cache: false;
	drun {
		parse-user:   true;
		parse-system: true;
        }

	run-command: "{cmd}";
	run-list-command: "";
	run-shell-command: "{terminal} -e {cmd}";

	run,drun {
		fallback-icon: "application-x-executable";
	}
	
	window {
		fallback-icon: "window";
	}

	window-match-fields: "title,class,role,name,desktop";
	window-command: "hyprctl dispatch focuswindow {window}";
	window-thumbnail: true;

	disable-history: false;
	sorting-method: "normal";
	max-history-size: 25;

	display-window: "Windows";
	display-windowcd: "Window CD";
	display-run: "Run";
	display-ssh: "SSH";
	display-drun: "Apps";
	display-combi: "Combi";
	display-keys: "Keys";
	display-filebrowser: "Files";

	terminal: "alacritty";
	sort: false;
	threads: 0;
	click-to-exit: true;

       timeout {
         action: "kb-cancel";
         delay:  0;
       }

	kb-mode-next: "Alt+Tab";
	kb-mode-previous: "Alt+Control+Tab";
}
